.titre{
    display: flex;
    justify-content: center;
    margin-top:25px;
    margin-bottom: 25px;
    font-family: OpenSansBold;
}
.index{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nomTableau{
    display: flex;
    justify-content: center;
    width: 100%;
}
.tableau{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imageTab{
    display: flex;
    height: 30px;
    width: 5%;
    justify-content: center;
    padding: 5px;
}

.format{
    display: flex;
    justify-content: center;
    width: 5%;
    margin-left: 10px;
    font-family: OpenSansBold;
    color: #4d6785;
    font-size: 13px;
    padding: 5px;
}

.imageTab img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

.nomTableau p{
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 10px;
    font-family: OpenSansBold;
    color: #4d6785;
    font-size: 13px;
    padding: 5px;
}
.tableau p{
    display: flex;
    justify-content: center;
    width: 15%;
    border-bottom: 2px solid #4d6785;
    font-family: OpenSans;
    padding: 5px;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
}